.heading {
  max-width: 50%;
  font-size: 3rem;
  color: #333;
  margin-right: 25px;
}

.top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.photo > img {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 5px 1px 100px -20px #8507f6;
  width: 200px;
  height: 200px;
}

.about > .content {
  font-size: 1rem;
  color: #000;
}

.categoryHeader {
  font-size: 2rem;
  font-weight: bold;
  background-color: #fff;
  color: #8507f6;
  width: fit-content;
  padding: 2px 30px;
  box-shadow: 5px 5px 40px -10px #000;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 2rem;
    max-width: 100%;
    margin-right: 0;
  }

  .top {
    flex-wrap: wrap;
  }
}
